<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://example.com/id" defaultlocale="en" viewmodes="minimized" version="0.1">
  <name short="">Speed Dial Extension Boilerplate</name>
  <author href="" email="">Your Name</author>
  <description>Your Description</description>
  <license href="http://www.opensource.org/licenses/mit-license.php">Distributed under the MIT License.</license>
  <icon src="plate.png"/>
  
  <feature name="opera:speeddial" required="false">
    <!-- link to open when the speed dial is clicked -->
    <param name="url" value="http://dev.opera.com/"/>
  </feature>
  
  <!-- uncomment for cookie sharing to be enabled in this extension.
       for example, a Speed Dial extension for reddit.com with shared
       cookies will allow the number of unread messages to be accessed
       via their API if the user is logged in -->
  <!-- <feature name="opera:share-cookies" required="true"/> -->
  
  <!-- cookie sharing requires an access directive for the domain -->
  <!-- <access origin="http://example.com" subdomains="true"/> -->
</widget>